@using BlazorStreamingChatApp.Core.Entities

<div class="chat-room container">
    @foreach (var user in ChatUsers)
    {
        <UserStream User="@user"  />
    }
</div>

@code {
    [Parameter]
    public List<ChatUser> ChatUsers { get; set; }
}
